.review-item{
    width: 571px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 8px 25px 8px 8px;
    display: flex;
    align-items: center;
}
.review-item img{
    width: 91px;
    height: 91px;
    border-radius: 8px;
}
.review-detail{
    margin-left: 15px;
}
.review-detail h6{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}
.review-detail p{
    margin: 10px 0;
}
.orange-text{
    color: #FF9900;
}

.btn-delete{
    margin-left: auto;
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 50%;
    font-size: 25px;
    background: rgba(235, 87, 87, 0.3);
    color: #EB5757;
}